<h1 class="text-center my-4">{{accion}} Película</h1> <!-- ACCION SE VA A ACTUALIZAR POR EL CLICK QUE HAGA EN LA ACCION-->
<section class="row">

  <form class="col-sm-5 mx-auto" action="{{direccion}}" method="POST">
    <div class="form-group">
      <label for="title">Titulo</label>
      <input type="text" name="titulo" id="title" class="form-control" value="{{titulo}}">
    </div>
    <div class="form-group">
      <label for="estreno">Estreno</label>
      <input type="number" name="estreno" id="year" class="form-control" value="{{estreno}}">
    </div>
    <div class="form-group">
      <label for="genero">Genero</label></br>
      <input name="genero" list="genero" class="form-control" value="{{genero}}">
    </div>
    
    <button class="btn btn-primary" type="submit">{{accion}} película</button> <!-- ACCION SE VA A ACTUALIZAR POR EL CLICK QUE HAGA EN LA ACCION-->
    <button class="btn btn-primary" type="submit" href="/">Volver</button>
  </form>

</section>